@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.box {
  width: 45%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
}

.box:nth-child(odd) {
  background-color: #f8f9fa;
}

.box:nth-child(even) {
  background-color: #f0f0f0;
}

.box h2 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

ul {
  padding: 2rem;
  margin: 0;
}

li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  padding: 0.6rem;
}


button {
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: #888;
}

.total-price {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
